body {
    
    background-image: url('dfl98ku-e4098a35-8a6c-461e-bca9-aac6deb35ade.png'); 
    background-size: cover;  
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}
.parrafo_de_texto {
    max-width: 100%;
    width: 90%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: #d8c518;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.parrafo_con_imagen > .parrafo_de_texto {
   
    margin: 20px; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}
#nombre_titulo {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: #f39c12;
    text-shadow: 2px 2px 0 #c0392b, 4px 4px 0 #d35400, 6px 6px 0 #e67e22, 8px 8px 0 #e74c3c;
    border: 5px solid #f39c12;
    padding: 10px 20px; 
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex; 
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 20px auto; 
    text-align: center;
}
.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.parrafo_con_imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.parrafo_con_imagen img {
    max-width: 100%;
    height: auto;
    max-width: 300px;
    margin-left: 20px; 
    margin-top: 20px;  
    margin-right: 20px; 
    margin-bottom: 20px; 

}

.button-and-image {
    display: flex;
    flex-direction: column;  
    gap: 10px;               
    margin-top: 20px;        
}
#boton_cambio_de_texto {
    width: auto;             
    padding: 10px 20px;       
    font-size: 16px;          
    align-self: flex-start;   
}
.button-and-image img {
    max-width: 100%;
    height: auto;
    max-width: 300px;
    margin-top: 10px;        
}
table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    display: flexa;
}


th, td {
    padding: 15px;
    text-align: left;
}


th {
    background-color: #3f3105;
    color: white;
    font-size: 16px;
}
td {
    background-color: #34495e;
    color: white;
    font-size: 14px;
}
tr:nth-child(even) td {
    background-color: #2c3e50;
}
tr:hover {
    background-color: #a08016;
}

